<h1>Bienvenido de Nuevo</h1>
<p>Gracias por volver a tu sitio favorito, por favor llenar el formulario.</p>
<form [formGroup]="loginForm" (ngSubmit)="authenticate()">
    <!---------------------Field Person name--------------------->
    <!-- <div formGroupName="person">
        <div class="login-form-input">
            <label for="">Nombre*:</label>
            <input type="text" formControlName="name" placeholder="Nombre">
            <small class="bg-danger text-light mt-1 px-2 py-1" *ngIf="fp.name.errors && loginSubmitted">
                <ng-container [ngSwitch]="fp.name.value">
                    <ng-container *ngSwitchCase="''">*El nombre es requerido!</ng-container>
                    <ng-container *ngSwitchDefault>*El nombre es invalido!</ng-container>
                </ng-container>
            </small>
        </div>
    </div> -->

    <!---------------------Field Person lastname--------------------->
    <!-- <div formGroupName="person">
        <div class="login-form-input">
            <label for="">Apellido*:</label>
            <input type="text" formControlName="lastname" placeholder="Apellido">
            <small class="bg-danger text-light mt-1 px-2 py-1" *ngIf="fp.lastname.errors && loginSubmitted">
                <ng-container [ngSwitch]="fp.lastname.value">
                    <ng-container *ngSwitchCase="''">*El apellido es requerido!</ng-container>
                    <ng-container *ngSwitchDefault>*El apellido es invalido!</ng-container>
                </ng-container>
            </small>
        </div>
    </div> -->

    <!---------------------Field email--------------------->
    <div class="login-form-input">
        <label for="">Email*:</label>
        <input type="email" formControlName="email" placeholder="Email">
        <small class="bg-danger text-light mt-1 px-2 py-1" *ngIf="fl.email.errors && loginSubmitted">
            <ng-container [ngSwitch]="fl.email.value">
                <ng-container *ngSwitchCase="''">*El email es requerido!</ng-container>
                <ng-container *ngSwitchDefault>*El email es invalido!</ng-container>
            </ng-container>
        </small>
    </div>

    <!---------------------Field password--------------------->
    <div class="login-form-input">
        <label for="">Contraseña*:</label>
        <input type="password" formControlName="password" placeholder="Contraseña">
        <small class="bg-danger text-light mt-1 px-2 py-1" *ngIf="fl.password.errors && loginSubmitted">
            <ng-container [ngSwitch]="fl.password.value">
                <ng-container *ngSwitchCase="''">*La contraseña es requerida!</ng-container>
                <ng-container *ngSwitchDefault>*La contraseña debe tener máximo 10 caracteres!</ng-container>
            </ng-container>
        </small>
    </div>

    <!---------------------Field interest--------------------->
    <!-- <div formArrayName="interests">
        <button type="button" (click)="addInterets()">Agregar</button>
        <ng-container *ngFor="let interest of interests.controls; let i=index;">
            <div class="login-form-input">
                <label for="">Interes*: <small (click)="removeInterest(i)">X</small></label>
                <input type="text" [formControlName]="i" placeholder="Interes">
                <small class="bg-danger text-light mt-1 px-2 py-1" *ngIf="interest.errors && loginSubmitted">
                    <ng-container [ngSwitch]="interest.value">
                        <ng-container *ngSwitchCase="''">*El interes es requerido!</ng-container>
                        <ng-container *ngSwitchDefault>*El interes es invalido!</ng-container>
                    </ng-container>
                </small>
            </div>
        </ng-container>
    </div> -->
    <small class="small">Olvidé la contraseña</small>
    <div class="login-form-buttons">
        <button class="login-form-buttons__signup">Registrate</button>
        <button type="submit" class="login-form-buttons__signin">Iniciar sesión</button>
    </div>
</form>


<!-- <h1>Bienvenido de nuevo validacion con NgModels</h1>
<p>Gracias por volver a tu sitio favorito, por favor llenar el formulario.</p>
<div class="login-form-input">
    <label for="">Email*:</label>
    <input type="email" placeholder="Email" [(ngModel)]="loginForm.email.value">
    <small class="bg-danger text-light mt-1 px-2 py-1" *ngIf="!loginForm.email.isValid() && password.touched">{{loginForm.email.error}}</small>
</div>
<div class="login-form-input">
    <label for="">Contraseña*:</label>
    <input type="password" placeholder="Contraseña" [(ngModel)]="loginForm.password.value" #password="ngModel">
    <small class="bg-danger text-light mt-1 px-2 py-1" *ngIf="!loginForm.password.isValid() && password.touched">{{loginForm.password.error}}</small>
</div>
<small>Olvidé la contraseña</small>
<div class="login-form-buttons">
    <button class="login-form-buttons__signup">Registrate</button>
    <button class="login-form-buttons__signin" [disabled]="!isValidForm" (click)="authenticate()">Iniciar sesión</button>
</div> -->
