<div class="dsc-left-nav-brand">
    <fa-icon [icon]="faBars" class="dsc-left-nav-brand__menu" (click)="showMenu.emit()"></fa-icon>
    <div class="dsc-left-nav-brand__logo">
        <img [src]="logo" alt="designicode-logo"/>
        <span>Netflix</span>
    </div>
</div>
<ng-container *ngIf="this.authService.getUser">
    <div class="dsc-left-nav-usr">
        <div class="dsc-left-nav-usr__avatar" [ngStyle]="{'background-image': 'url(' + this.authService.getUser.avatar + ')'}"></div>
        <h5 class="dsc-left-nav-usr__name">{{this.authService.getUser.fullname}}</h5>
        <h6 class="dsc-left-nav-usr__position">{{this.authService.getUser.work}}</h6>
    </div>
</ng-container>  
<ng-container *ngFor="let menu of menus">
    <app-left-nav-menu [data]="menu"></app-left-nav-menu>
</ng-container>
<app-left-nav-menu [data]="logoutMenu"></app-left-nav-menu>
